<div class="range-list col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="category">
			<div class="img-circle">
				<img alt="" class="img-responsive" src="/_assets/img/layout/bg-white-square-500x500.png" />
				<div class="image">
					<span class="vertical"><img class="img-responsive" src="{tag_image_value}" alt="{tag_name_nolink}" title="{tag_name_nolink}"/></span>
				</div>				
			</div>					
		</div>
		<h3>{tag_name_nolink}</h3>
		<ul>
			<li>Single size: {tag_single size}</li>
			<li>Product code: {tag_product code}</li>
			<li>QTY per carton: {tag_quantity per carton}</li>
		</ul>
		<p class="info">{tag_description}</p>
	</div>
</div>