<h1>Gift Voucher</h1>
<form style="display: inline;">
    <table cellspacing="0" cellpadding="0" class="form" style="font-family: arial,sans-serif; font-size: 11px; color: #333333;">
        <tbody>
            <tr>
                <td>
                <p>You are buying a gift voucher. Please enter the recipients details below.<br />
                Enter the recipients details and your message and the gift voucher will be emailed to them!</p>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0px 0px;">
                <label for="RecipientName">Recipient Name</label><br />
                <input class="cat_textbox" id="RecipientName" name="RecipientName" />
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0px 0px;">
                <label for="RecipientEmail">Recipient Email Address</label><br />
                <input class="cat_textbox" id="RecipientEmail" name="RecipientEmail" />
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0px 0px;">
                <label for="Message">Personal Message to Recipient</label><br />
                <textarea class="cat_listbox" id="Message" name="Message" rows="5" cols="20"></textarea>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0px 0px;">
                {tag_continue}
                </td>
            </tr>
        </tbody>
    </table>
</form>
