<div class="shop-main clear">
<div class="header">
<div class="breadcrumbs">
{tag_cataloguebreadcrumbs}
<a title="Back" alt="Back" href="javascript: history.go(-1)" class="back">Back</a>
</div>
</div>
<div class="body">
{tag_cataloguelist,3,,2,Weight,true,true} {tag_productlist,3,,99,Weight,true,true}
</div>
<div class="footer clear">
<div class="breadcrumbs">
<ul class="pagination-wrap">
    <li class="nudge">{tag_previouspage,Previous}</li>
    <li>{tag_pagination}</li>
    <li class="nudge">{tag_nextpage,Next}</li>
</ul>
<a title="Back" alt="Back" href="javascript: history.go(-1)" class="back">Back</a>
</div>
</div>
</div>