<div class="small-product col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row">
<div class="category col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="img-circle">
<img alt="" class="img-responsive" src="/_assets/img/layout/bg-white-square-500x500.png" />
<div class="image">
{tag_smallimage}
</div>
<div class="red-hover">
<a href="{tag_itemurl_withhost}" alt="{tag_name_nolink}" title="{tag_name_nolink}"><span class="vertical">
<h2 class="middle"><span class="fa fa-search-plus"></span></h2>
</span></a>
</div>
</div>
</div>
<div class="name col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h3 class="name">{tag_name} </h3>
<h3 class="price">{tag_saleprice}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {tag_grouping}</h3>
</div>
<div class="view col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-r-0">
<a class="btn btn-block" href="{tag_itemurl_withhost}" alt="View Item" title="View Item">View</a>
</div>
<div class="buy col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-0">
{tag_addtocart}
</div>
</div>
</div>