<html>
    <head>
    </head>
    <body>
        <table width="500" cellspacing="0" cellpadding="0" border="0" style="font-family: arial,sans-serif; font-size: 11px; color: #333333;">
            <tbody>
                <tr>
                    <td style="padding: 10px;">
                    <p>Dear {tag_RecipientName},</p>
                    <p>{tag_purchasername} has bought a Gift Voucher for you which you can use in our online shop.</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 15px 0px;">
                    <table width="480" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #f2f2f2;">
                        <tbody>
                            <tr>
                                <td style="font-family: arial,sans-serif; font-size: 11px; color: #333333; padding: 10px;">
                                <p><strong>Message:</strong></p>
                                {tag_message}<br />
                                <br />
                                Best Wishes,<br />
                                {tag_purchasername}</td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px;">
                    <p>Please visit our onlines hop at: <strong>{tag_siteurl}</strong></p>
                    <p>The value of your gift voucher is {tag_giftvoucheramount}. To redeem your gift voucher you must enter the following code when checking out: {tag_giftvouchercode}.</p>
                    <p>Thank you!</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>