<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>System Email</title>
    </head>
    <body marginwidth="0" marginheight="0" bottommargin="0" rightmargin="0" topmargin="0" leftmargin="0" font-size="10px" style="background-color: #ffffff;">
        <style type="text/css">
            body,td { color:#000000; font:12px/18px Helvetica, Arial, Verdana, sans-serif; word-wrap: break-all; margin: 0;}
            p, address { color:#333333; font:12px/18px Helvetica, Arial, Verdana, sans-serif; }
            address { font-style:normal; }
            a { color: #005ba7; text-decoration:none; }
            a:hover { color:#000000; text-decoration: none; }
            h1 { line-height: 1.1em; text-transform: uppercase; font-size: 24px;}
            h1 span { color: #aaa; font-size: 14px;}
            h1 span.date { color: #aaa; font-size: 14px; font-weight: normal;}
            h2 { color:#000000; font-size:17px; margin:10px 0 8px 0; line-height:1.4em; }
            h3 { color:#111111; font-size:15px; margin: 10px 0 4px 0;}
            strong { font-weight: bold; }
            span.auto { color: #aaaaaa; font-size: 14px; font-weight: bold; font-style: italic;}
            td.footer p, td.footer address { color:#666666; font-size:11px; line-height:17px;}
            img.d-separator { margin:3px 0;}
            div.livefeed ul li { font-size: 11px;}
        </style>
        <table width="100%" cellspacing="0" cellpadding="0" style="background-color: #555555;">
            <tbody>
                <tr>
                    <td valign="top" align="center">
                    <!-- [start] header -->
                    <table width="604" cellspacing="0" cellpadding="0" border="0" align="center" height="50" style="background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td style="background-color: #ffffff; width: 20px;"> </td>
                                <td><img alt="OMC" src="https://onlinemarketingcollective.worldsecuresystems.com/Images/logo/omc-logo-greyscale.png" /></td>
                                <td align="right" class="header">
                                <span class="auto">Automated Email</span>
                                </td>
                                <td style="background-color: #ffffff; width: 20px;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td colspan="4" style="background-color: #cccccc;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="604" cellspacing="0" cellpadding="0" border="0" align="center" height="50" style="background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td colspan="3" style="background-color: #ffffff;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td style="background-color: #ffffff; width: 20px;"> </td>
                                <td>
                                <h1>Workflow Notification</h1>
                                </td>
                                <td style="background-color: #ffffff; width: 20px;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td colspan="3" style="background-color: #eeeeee;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- [end] header -->
                    <!-- [start] middle -->
                    <table width="604" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td style="width: 20px;"> </td>
                                <td valign="top" class="col-main" style="background-color: #ffffff;">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="height: 16px;"> </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            This   is a notification for a step of a workflow that you are responsible for. No   action is required on your behalf.
                                            <p>This notification is for item <strong>{tag_objectname}</strong>.</p>
                                            <p>The current step of the workflow <strong>{tag_workflowname}</strong> requires all user   that belongs to role <strong>{tag_rolename}</strong> to be notified.</p>
                                            <p>Click on the link below to view this item<br />
                                            <strong><a href="{tag_objecturl}">View this item</a></strong> (<a href="{tag_objecturlsecure}">Secure Link</a>)</p>
                                            <p>{tag_formsummary}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 15px;"> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                                <td style="width: 20px;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- [start] middle -->
                    <table width="604" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td colspan="3" style="background-color: #f9f9f9;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td colspan="3" style="height: 19px;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td style="width: 20px;"> </td>
                                <td valign="top" class="footer">
                                <p>
                                <strong>Privacy</strong><br />
                                OMC is committed to protecting your privacy. You have received this email because you are a registered user of the OMC system. If you wish to stop receiving this email please contact your system administrator.									</p>
                                <p>
                                &copy; OMC 2004-2015, All Rights Reserved</p>
                                </td>
                                <td style="width: 20px;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                            <tr>
                                <td style="background-color: #444444; width: 2px;"> </td>
                                <td colspan="3" style="height: 29px;"> </td>
                                <td style="background-color: #444444; width: 2px;"> </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>