<div class="blog-container">
	<div id="pageheading">
	<h1>{tag_blogtitle}	<a sw="1" catid="58,8909" id="rss" href="/RSSRetrieve.aspx?ID=8909&amp;Type=RSS20" target="_blank"><img alt="RSS" src="/CatalystImages/RSS.png" width="16" height="16" style="border-width: 0px;border-style: solid;" /></a></h1>
	</div>
	<p class="description">{tag_blogdescription}</p>
	
	
	<div class="wrapper clear">
		<div class="post-list">
			{tag_postlist}
			<p class="page-nav">{tag_previouspage} {tag_pagination} {tag_nextpage}</p>		
		</div>

	</div><!-- END .wrapper -->
</div><!-- END .blog-container -->

