<div class="system-message">
<h1>Newsletter Subscription</h1>
<p>Your request to subscribe to this newsletter was successful.</p>
<p>To thank you we are offering you a 10% discount off your first purchase from our online store. To redeem your discount, simply enter SUB0002 in the Discount area as you process your order in the checkout. </p>
<p>In the coming months you&rsquo;ll be the first to know about new products, we&rsquo;ll inspire you with recipes, and give you access to some great offers from the Nutworks range.&nbsp;</p>
</div>
<div class="system-message">Nutworks also runs a monthly competition. Be sure to enter for your chance to win. <a href="http://www.nutworks.com.au/competition-1/october"><em>click here to enter</em></a><br />
</div>
<div class="system-message">
<p>Good luck and thanks again for joining the Nutworks network!</p>
<p>Kind regards</p>
<p>The Nutworks Team</p>
</div>
<!-- END .system-message -->
