<div class="blog-detail">
	<h2>{tag_name}</h2>
	<div class="category col-lg-4 col-md-4 col-sm-5 col-xs-12">
		<div class="img-circle">
			<img alt="" class="img-responsive" src="/_assets/img/layout/bg-empty-square-500x500.png" />
			<div class="image">
				<span class="vertical"><img alt="{tag_name}" title="{tag_name}" class="img-responsive" src="{tag_image_value}" /></span>
			</div>
		</div>					
	</div>
	<p>{tag_description}</p>
</div>
<a class="btn" href="javascript: history.go(-1)" alt="Back" title="Back">Back</a>
