<div class="blog-list white-bg col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="category col-lg-4 col-md-4 col-sm-5 col-xs-12">
		<div class="img-circle">
			<img alt="" class="img-responsive" src="/_assets/img/layout/bg-empty-square-500x500.png" />
			<div class="image">
				<span class="vertical"><a href="{tag_itemurl_withhost}" alt="{tag_name_nolink}" title="{tag_name_nolink}"><img alt="{tag_name_nolink}" title="{tag_name_nolink}" class="img-responsive" src="{tag_image_value}" /></a></span>
			</div>
		</div>					
	</div>
	<div class="details col-lg-8 col-md-8 col-sm-7 col-xs-12">
		<h3>{tag_name}</h3>
		<p>{tag_description,200}</p>
		<a class="btn" href="{tag_itemurl_withhost}" alt="View Post" title="View Post">View Post</a>
	</div>
</div>