<div class="comp-list white-bg col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="image col-lg-4 col-md-4 col-sm-4 col-xs-12">
<a title="Read More" href="{tag_itemurl_nolink}">{tag_image_nolink}</a><br />
<br />
<h3>{tag_name}</h3>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
<p>{tag_summary}</p>
<p>{tag_description}</p>
<!--<span class="button"><a title="Competitions" href="{tag_itemurl_nolink}">Enter Now</a></span>-->
</div>
</div>
<div class="compForm">
<h2>Subscribe to keep up to date on monthly competitions and exclusive deals!</h2>
{module_webform,38341}
</div>